
//colors
$crimsonblaze: #C1111F;
$bloodrust: #790000;
$deepoceanic: #003049;
$mysticblue: #669BBC;
$vanillacream: #FDF0D5;
$black: #000000;
$white: #FFFFFF;



//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;