@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.pokemon_card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px rgba(115, 61, 61, 0.1);
    width: 144px;
    height: 222px;
    padding: 16px;

    &__image {
    height: 185px;
    }


    &__name {
        display: flex;
        margin-top: 8px;
        @include card-name-mobile;
    }

    &__set {
        display: flex;
        flex-wrap: wrap;
        @include set-name-mobile;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
       
        &__name {
            @include card-name;
        }

        &__set {
            @include set-name;
        }

    }

    @media only screen and (min-width: $desktop-breakpoint) {
        
    

    }


}

.pokemon_card:hover {
    background-color: rgba(176, 184, 198, 0.3);
    
}