@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.modal-card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px rgba(115, 61, 61, 0.1);
    width: 164px;
    height: fit-content;
    padding: 16px;

    &__cardimage-container {
        display: flex;
        justify-content: center;
    }

    &__cardimage {
    height: 155px;
    width: 125px;
    }
&__carddata-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

    &__cardname {
        display: flex;
        margin-top: 8px;
        @include card-name-mobile;
    }

    &__cardset {
        display: flex;
        flex-wrap: wrap;
        @include set-name-mobile;
    }

    &__cardcondition {
        @include set-name-mobile;
        
        &--data {

        }
    }

    @media only screen and (min-width: $tablet-breakpoint) {
       
        &__cardname {
            @include card-name;
        }

        &__cardset {
            @include set-name;
        }

        &__cardcondition {
            @include set-name;
            
        }

    }

    @media only screen and (min-width: $desktop-breakpoint) {
        
    

    }


}

.modal-card:hover {
    background-color: rgba(176, 184, 198, 0.3);
    
}

.modal-card.selected {
    border: 2px solid #ffcb05;
} 