@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.pokemon-card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 10px 30px 5px rgba(115, 61, 61, 0.1);
    height: 210px;
    width: 150px;
    padding: 16px;
    border: 10px solid $pokemonyellow;
    align-items: center;
    justify-items: center;
    background-color: $white;
    margin-top: 20px;

    &__name-container {
        display: flex;
        flex-direction: flex-start;
        margin-bottom: 8px;
        width: 100%;

        &--name {
            @include card-name-mobile;  
        }
    }

    &__image {
    height: 150px;
    }

    &__set {
        display: flex;
        @include body-copy-mobile;
    }

    &__condition {
        @include body-copy-mobile;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
       
        &__name {
            @include card-name;
        }

        &__set {
            @include set-name;
        }

    }

    @media only screen and (min-width: $desktop-breakpoint) {
        
    

    }


}

.pokemon_card:hover {
    background-color: rgba(176, 184, 198, 0.3);
    
}
