@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.search {

    height: 75vh;
        width: 100%;
        height: 100%;
        position: relative;
        border-top: 2px solid $vanillacream;
        box-shadow: 0 0 0 2px #000;
        background-color: $mysticblue;
        /* animation: borderAnimation 4s linear infinite; */


    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__bar {
        margin-bottom: 16px;
        padding: 16px;
        width: 400px;
    }

    &__button {
        color: $deepoceanic;
        background-color: $vanillacream;
        border-radius: 5px;
        border: none;
        @include labels-buttons;
        padding: 8px;
    }

    &__loading {
        color: $mysticblue;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        overflow: hidden;
        box-sizing: border-box;

        &__box {
            position: relative;
            flex-direction: column;

        }

        &__header {
            color: $white;
        }

        &__subheader {
            color: $white;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
    }
}

/* @keyframes borderAnimation {
    0% {
        border-color: red;
        box-shadow: 0 0 0 2px red;
    }

    25% {
        border-color: green;
        box-shadow: 0 0 0 2px green;
    }

    50% {
        border-color: blue;
        box-shadow: 0 0 0 2px blue;
    }

    75% {
        border-color: yellow;
        box-shadow: 0 0 0 2px yellow;
    }

    100% {
        border-color: purple;
        box-shadow: 0 0 0 2px purple;
    }
} */


.search-image-container {
position: absolute;
display: flex;
flex-wrap: wrap;
background-color: $mysticblue;

&__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


}

.search-image {
    width: 200px;
}



.pos-0 {
    transform: rotate(45deg);
    overflow: hidden;
    flex-grow: 1;

}

.pos-1 {
    transform: rotate(25deg);
    flex-grow: 1;
}

.pos-2 {
    transform: rotate(-25deg);
    flex-grow: 1;
}

.pos-3 {
    transform: rotate(15deg);
    flex-grow: 1;
}

.pos-4 {
    transform: rotate(-15deg);
    flex-grow: 1;
}

.pos-5 {
    transform: rotate(25deg);
    flex-grow: 1;
}

.pos-6 {
    transform: rotate(-25deg);
    flex-grow: 1;
}

.pos-7 {
    transform: rotate(15deg);
    flex-grow: 1;
}

.pos-8 {
    transform: rotate(-15deg);
    flex-grow: 1;
}
.pos-9 {
    transform: rotate(25deg);
    flex-grow: 1;
}

.pos-10 {
    transform: rotate(-25deg);
    flex-grow: 1;
}

.pos-11 {
    transform: rotate(25deg);
    flex-grow: 1;
}

.pos-12 {
    transform: rotate(-15deg);
    flex-grow: 1;
}
.pos-13 {
    transform: rotate(15deg);
    flex-grow: 1;
}
.pos-14 {
    transform: rotate(25deg);
    flex-grow: 1;
}

.pos-15 {
    transform: rotate(-25deg);
    flex-grow: 1;
}

.pos-16 {
    transform: rotate(15deg);
    flex-grow: 1;
}

.pos-17 {
    transform: rotate(-15deg);
    flex-grow: 1;
}
.pos-18 {
    transform: rotate(15deg);
    flex-grow: 1;
}
.pos-19 {
    transform: rotate(25deg);
    flex-grow: 1;
}

.pos-20 {
    transform: rotate(-25deg);
    flex-grow: 1;
}

.pos-21 {
    transform: rotate(95deg);
    flex-grow: 1;
}

.pos-22 {
    transform: rotate(15deg);
    flex-grow: 1;
}
.pos-23 {
    transform: rotate(-25deg);
    flex-grow: 1;
}
.pos-24 {
    transform: rotate(15deg);
    flex-grow: 1;
}
.pos-25 {
    transform: rotate(25deg);
    flex-grow: 1;
}
.pos-26 {
    transform: rotate(25deg);
    flex-grow: 1;
}