@use "../styles/partials/global";

@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__logo-container {

    }

    &__logo {

    }

    &__menu {
        display: flex;
        list-style: none;
    }

    &__item {
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        flex-direction: row;
    }

    @media only screen and (min-width: $desktop-breakpoint) {
    }
}